html {
    background-color: black;
}
div {
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-top: 25%
}
#aldrin {
    height: 200px;
    border: 5px solid white;
    width: 100%;
}
#header {
    color: white;
    font-family: "Libre Baskerville";
    text-align: center;
    text-transform: uppercase;
}
#text {
    color: white;
    text-align: center;
}